@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Scroll up styling */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

.showcase {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.navbar.sticky {
    padding: 10px 100px;
    background: #07080B;

}

.navbar .logo {
    color: #ff1170;
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.download_pdf {
    color: white;
}

.navbar ul li span {
    color: #ff1170;
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}

.navbar ul li a {
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    color: #ff1170;
}

/* Showcase content section */
.showcase-text {
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}

.showcase-text .text-1 {
    font-size: 27px;
}

.showcase-text .text-2 {
    font-size: 75px;
    font-weight: 700;
}

.showcase-text .text-3 {
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}

.showcase-text .text-3 span {
    color: #ff1170;
}

#showcase-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
}

.btn-md {
    display: inline-block;
    background: #ff1170;
    color: #08080A;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid #ff1170;
    transition: all 0.3s ease;
}

.btn-md:hover {
    color: #ff1170;
    background: none;
}